/Examples/.idea
/Examples/Examples.Immutable.After/bin
/Examples/Examples.Immutable.After/obj
/Examples/Examples.Immutable.After.Tests/bin
/Examples/Examples.Immutable.After.Tests/obj
/Examples/Examples.Immutable.Before/bin
/Examples/Examples.Immutable.Before/obj
/Examples/Examples.Monads.Logic/bin
/Examples/Examples.Monads.Logic/obj
/Examples/Examples.PrimitiveObsession.Logic/bin
/Examples/Examples.PrimitiveObsession.Logic/obj
/Examples/Examples.RailwayOrientedProgramming.Logic/bin
/Examples/Examples.RailwayOrientedProgramming.Logic/obj

